# Node dependencies
node_modules

# Build output
dist

# Editor and OS files
.vscode
.idea
.DS_Store

# Git files
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
*.local

# Miscellaneous
coverage
